*.asv
/JPL_Data/
/resources/

/Gradient-Free-Optimization-for-Cislunar-.prj

/JPL_CR3BP_OrbitCatalog.mat

# ignore all run output folders
runs_*/


# optimization run outputs
OptimizationLog.csv
summary.txt
results_*.mat

*.pdf

*.png

/artifacts/

/orbit_cache/

/transfer_cache/

/runs/

/safe_output_fallback.txt

/postprocess_summary/

/database_figs/

/comparison_postprocess_summary/
