*.asv
/JPL_Data/
/resources/

/Gradient-Free-Optimization-for-Cislunar-.prj

/JPL_CR3BP_OrbitCatalog.mat

# ignore all run output folders
runs_*/


# optimization run outputs
OptimizationLog.csv
summary.txt
results_*.mat
